a:hover {
  color:lightcoral;
  text-decoration: none;
  font-size:105%;
}

a:active {
  color:red;
  text-decoration:none;
}

.header {
  text-align:center;
  font-family:georgia;
  color:brown;
}

body {
  background-color:lightblue;
}

.center {
  text-align:center;
}

.border1 {
  border-style: solid;
  border-width: medium;
  display:inline;
  border-radius:10px;
  margin:5px;
  padding:5px;
  
}